<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Playlist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="card">
        <h1>Your Playlist Based on "{{ mood }}"</h1>
        <div class="playlist">
            {% for song in playlist %}
                <div class="song-card">
                    <div class="song-details">
                        <div class="song-info">
                            <strong>{{ song.track }}</strong> by <em>{{ song.artist }}</em>
                        </div>
                        <a href="{{ song.spotify_link }}" class="spotify-link" target="_blank">Listen on Spotify</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <form action="{{ url_for('home') }}">
            <button type="submit">Generate Another Playlist</button>
        </form>
    </div>
</body>
</html>
